In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
from sklearn.linear_model import LogisticRegression

In [10]:
!pip install scikit-Learn

Requirement already satisfied: scikit-Learn in ./env/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./env/lib/python3.7/site-packages (from scikit-Learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in ./env/lib/python3.7/site-packages (from scikit-Learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in ./env/lib/python3.7/site-packages (from scikit-Learn) (1.7.1)
Requirement already satisfied: numpy>=1.13.3 in ./env/lib/python3.7/site-packages (from scikit-Learn) (1.20.3)

In [12]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")

In [15]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [16]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [18]:
x = df.drop("DEATH_EVENT", axis = 1)
y = df["DEATH_EVENT"]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [21]:
np.random.seed(42)
model = LogisticRegression()

In [22]:
np.random.seed(42)
model.fit(x_train, y_train)

/Users/omid/Desktop/Gene/drugs/env/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [23]:
model.score(x_test, y_test)

0.7666666666666667

In [39]:
df.head(-5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,90.0,1,337,0,38,0,390000.00,0.9,144,0,0,256,0
290,45.0,0,615,1,55,0,222000.00,0.8,141,0,0,257,0
291,60.0,0,320,0,35,0,133000.00,1.4,139,1,0,258,0
292,52.0,0,190,1,38,0,382000.00,1.0,140,1,1,258,0
293,63.0,1,103,1,35,0,179000.00,0.9,136,1,1,270,0

In [49]:
new_patient1 = [60.0, 0, 600, 0, 60, 0, 350000.00, 1.9, 145, 0, 1, 35]
new_patient2 = [52.0, 1, 450, 1, 20, 1, 162000.00, 1.3, 115, 1, 1, 120]
new_patient3 = [52.0, 1, 890, 0, 17, 1, 327000.00, 1.3, 130, 0, 1, 100]
L = [new_patient1, new_patient2, new_patient3]
df_test = pd. DataFrame(L)

In [50]:
model.predict(df_test)

array([0, 1, 1])

In [52]:
import pickle

pickle.dump(model, open("CS50-HartFailurePrediction.pkl", "wb"))